.inputWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.label {
  width: 170px;
}

.input {
  margin: 10px 0;
  border: #C6C6C6 1px solid;
  border-radius: 6px;
  height: 40px;
  width: 100%;
}
