.inputWrapper
{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}

.label{
    width: 170px;
}

.input{
    margin: 10px 0;
    border: gray 1px solid;
    border-radius: 6px;
    height: 40px;
}