.inputWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.label {
  width: 170px;
  flex-shrink: 0;
}

.input {
  margin: 10px 0;
  border: #C6C6C6 1px solid;
  border-radius: 6px;
  height: 40px;
  width: 100%;
  padding-left: 10px;
   width: 100%;

  &:focus{
    outline: 0px;
  }
}
