.counterWrapper {
  display: flex;
  justify-items: center;
  align-items: center;
}

.input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.buttonsWrapper {
  display: flex;
  flex-direction: column;
  width: 20px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;

  border: #C6C6C6 1px solid;
  border-radius: 6px;
  height: 20px;
}

.plusButton{
   border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.minusButton{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}