.checkboxesWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.checkboxes {
  //display: flex;
  //justify-content: flex-start;
  //flex-wrap: wrap;
  //height: 200px;
}



.label {
  width: 170px;
}
